				<div class="details-box">
				<form id='update-details' action='' method='post'>
				<input type="hidden" id="order-id" value="<%= @orderdetails.get_order_id %>"/>
					<div class="row row-one">
							<div class="sm-input">
								<label for="pkg">Pkg </label>
								<input type="text" class="sm-txt-box" value="<%= @orderdetails.get_package.try(:get_num_of_photos) %>" data-pkg-photos="<%= @orderdetails.get_package.try(:get_num_of_photos) %>" id="pkg"/>
								<input type="hidden" id="package_id" value="<%= @orderdetails.get_package.try(:get_package_id) %>"/>
							</div>
							<div class="sm-input">
								<label for="raw">RAW </label>
								<input type="text" class="sm-txt-box" value="<%= @orderdetails.get_raw_photos %>" data-raw-photos="<%= @orderdetails.get_raw_photos %>" id="raw"/>
							</div>
							<div class="sm-input">
								<label for="est">Est </label>
								<input type="text" class="sm-txt-box" value="<%= @orderdetails.get_estimated_photos %>" data-est-photos="<%= @orderdetails.get_estimated_photos %> id="est">
							</div>
							<div class="sm-input-final">
								<label for="final">Final </label>
								<input type="text" class="sm-txt-box" value="<%= @orderdetails.get_final_photos_number %>" data-final-photos="<%= @orderdetails.get_final_photos_number %> id="final">
							</div>
					</div>
					

					<div id="photographer-details">
						
								<h4>Photographer: </h4>
							<div class="photographer" id="photographer-info" data-photographer-id='<%= @orderdetails.get_photographer.try(:get_photographer_id) %>'>
								<select id="photographer-dropdown">
								<% @photographer_list.each do |photographer| %>
									<% if photographer.try(:get_photographer_id) == @orderdetails.get_photographer.try(:get_photographer_id) %>
									<option value='<%= @orderdetails.get_photographer.try(:get_photographer_id) %>' selected><%= @orderdetails.get_photographer.try(:get_name) %></option>
									<% else %>
									<option value='<%= photographer.try(:get_photographer_id) %>'><%= photographer.try(:get_name) %></option>
									<% end %>
								<% end %>
								</select>
							</div>
							<div class="swag" data-swag="<%= @orderdetails.get_photographer.try(:get_swag) %>">
								<input id='swag' type='hidden' value='<%= @orderdetails.get_photographer.try(:get_swag) %>'></input>
							<% if @orderdetails.get_photographer.try(:get_swag) %>
								Swag Pkg  <i class="fa fa-check"></i>
							<% else %>
								Swag Pkg <i class="fa fa-times"></i>
							<% end %>
							</div>
					</div>
					<div id="photographer-info">
						<div class="email">
							<a href="mailto:<%= @orderdetails.get_photographer.try(:get_email) %>"><%= @orderdetails.get_photographer.try(:get_email) %></a>
						</div>
						<div class="phone">
							<a href="tel:<%= @orderdetails.get_photographer.try(:get_phone) %>"><%= @orderdetails.get_photographer.try(:get_phone) %></a>
						</div>
					</div>
					<div id="order-bools">
						<div class="row status-row">
							<div class="status-header">
								Photos Approved:  
							</div>
							<div class="status-icon">
							<input id='photos-approved' type='hidden' value='<%= @orderdetails.get_photos_approved.to_s %>'></input>
							<% if @orderdetails.get_photos_approved %>
								<i class="fa fa-check"></i>
							</div>
							<div class="status-date">
								Date: <%= @orderdetails.get_photos_approved_date.try(:to_time).try(:strftime, '%-m/%-d/%y') %> 
							</div>
							<% else %>
								<i class="fa fa-times"></i>
							</div>
							<div class="status-date">
								Date:  
							</div>
							<% end %>
						</div>
						<div class="row status-row">
							<div class="status-header">
								Photographer Paid:	
							</div>
							<div class="status-icon"> 
								<input id='photographer-paid' type='hidden' value='<%= @orderdetails.get_photographer_paid.to_s %>'></input>
							<% if @orderdetails.get_photographer_paid %>
								<i class="fa fa-check"></i>
							</div>
							<div class="status-date">
								Date: <%= @orderdetails.get_photographer_paid_date.try(:to_time).try(:strftime, '%-m/%-d/%y') %> 
							</div>
							<% else %>
								<i class="fa fa-times"></i>
							</div>
							<div class="status-date">
								Date:  
							</div>
							<% end %>
						</div>
						<div class="row status-row">
							<div class="status-header">
								 Quick Edit Upload: 
							</div>
							<div class="status-icon">
								<input id='quick-edit-upload' type='hidden' value='<%= @orderdetails.get_quick_edit_upload %>'></input>
							<% if @orderdetails.get_quick_edit_upload%>
								<i class="fa fa-check"></i>
							</div>
							<div class="status-date">
								Date: <%= @orderdetails.get_quick_edit_upload_date.try(:to_time).try(:strftime, '%-m/%-d/%y') %> 
							</div>
							<% else %>
								<i class="fa fa-times"></i>
							</div>
							<div class="status-date">
								Date:  
							</div>
							<% end %>	
						</div>
						<div class="row status-row">
							<div class="status-header">
								Assigned to Editor:  
							</div>
							<div class="status-icon">
								<input id='assigned-to-editor' type='hidden' value='<%= @orderdetails.get_assigned_to_editor.to_s %>'></input>
							<% if @orderdetails.get_assigned_to_editor%>
								<i class="fa fa-check"></i>
							</div>
							<div class="status-date">
								Date: <%= @orderdetails.get_assigned_to_editor_date.try(:to_time).try(:strftime, '%-m/%-d/%y') %> 
							</div>
							<% else %>
								<i class="fa fa-times"></i>
							</div>
							<div class="status-date">
								Date:  
							</div>
							<% end %>
						</div>
						<div class="row status-row">
							<div class="status-header">
								Final Edits Approved:  
							</div>
							<div class="status-icon">
								<input id='final-edits-approve' type='hidden' value='<%= @orderdetails.get_final_edits_approve %>'></input>
							<% if @orderdetails.get_final_edits_approve %>
								<i class="fa fa-check"></i>
							</div>
							<div class="status-date">
								Date: <%= @orderdetails.get_final_edits_approve_date.try(:to_time).try(:strftime, '%-m/%-d/%y') %> 
							</div>
							<% else %>
								<i class="fa fa-times"></i>
							</div>
							<div class="status-date">
								Date:  
							</div>
							<% end %>
						</div>
						<div class="row status-row">
							<div class="status-header">
								Final Crops:  
							</div>
							<div class="status-icon">
							<input id='crops' type='hidden' value='<%= @orderdetails.get_cropping.to_s %>'></input>
							<% if @orderdetails.get_cropping %>
								<i class="fa fa-check"></i>
							</div>
							<div class="status-date">
								Date: <%= @orderdetails.get_cropping_date.try(:to_time).try(:strftime, '%-m/%-d/%y')%> 
							</div>
							<% else %>
								<i class="fa fa-times"></i>
							</div>
							<div class="status-date">
								Date:  
							</div>
							<% end %>
						</div>
						<div class="row status-row">
							<div class="status-header">
								Final Edit Upload:  
							</div>
							<div class="status-icon">
							<input id='final-edit-upload' type='hidden' value='<%= @orderdetails.get_final_edit_upload %>'></input>
							<% if @orderdetails.get_final_edit_upload %>
								<i class="fa fa-check"></i>
							</div>
							<div class="status-date">
								Date: <%= @orderdetails.get_final_edit_upload_date.try(:to_time).try(:strftime, '%-m/%-d/%y') %> 
							</div>
							<% else %>
								<i class="fa fa-times"></i>
							</div>
							<div class="status-date">
								Date:  
							</div>
							<% end %>
						</div>
						</div><br/>
						<a id="update-order" class ="update-project btn btn-primary">Save</a>
					<div id="update-results"></div>
					</div>
				</div>
				</form>
				</div>
