	<div class="container">
		<div class="row">
			<div id="event-column" class="col-sm-6">
				<div class="column-header">
					<h2 class="">Upcoming Events</h2>
				</div>
        <%= @results.each do |event| %>
				<div class="entry">
					<h4>
						<span class="entry-header">
							<%= event.get_city + ", " +  event.get_state %>
						</span><br/>
						<div class="date">
							<div class="day">
								<%= event.get_start_date.to_time.strftime("%d") %>
							</div>
							<div class="month">
								<%= event.get_start_date.to_time.strftime("%b") %>
							</div>
							<div class="year">
								<%= event.get_start_date.to_time.strftime("%Y") %>
							</div>
						</div>
					</h4>
				</div>
			<% end %>
			</div>
		</div>
	</div>
