<!DOCTYPE html>
<html>
<head>
  <title>Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
 <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= current_user.provider %>
  <%= current_user.uid %><br/>
  <%= current_user.oauth_token %><br/>
  <%= current_user.oauth_expires_at %><br/>
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <%= yield %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn btn-primary" %>
      <% end %>





</body>
</html>
